@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700&family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * { visibility: hidden; }
  #zona-imprimible, #zona-imprimible * { visibility: visible; }
  #zona-imprimible { position: absolute; left: 0; top: 0; width: 100%; }
}
